table {
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid #5957575c; */
    border-radius: 10px;
    overflow: hidden;
}

.fullname {
    width: 50%;
}

td {
    text-align: center;
    border-bottom: 1px solid #80808054;
}

.main_tr {
    border-bottom: 15px solid black;
    background: #ffc58a;
}

th,
td {
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

label {
    width: 100px;
}

form {
    margin: 0px 20%;
    border: 1px solid #c2a68085;
    padding: 10px 20px 1px 50px;
    border-radius: 50px;
    background: #faebd740;
}

.flex-row>input {
    margin: 10px 73px;
    width: 15%;
}

.top {
    height: 100px !important;
}